title= title
script(type='text/javascript', src='./js/angular.min.js')
script(type='text/javascript', src='./cryptojs/rollups/tripledes.js')
script(type='text/javascript', src='./cryptojs/components/mode-cfb-min.js')
script(type='text/javascript', src='./cryptojs/components/pad-nopadding-min.js')
script(type='text/javascript', src='./js/md5.js')
script(type='text/javascript', src='./js/site.js')
script(type='text/javascript', src='./js/seed-min.js')
link(rel='stylesheet', type='text/css', href='./css/site.css')