doctype html
html(lang="en")
    head
        include ../includes/script.jade
        link(rel='stylesheet', type='text/css', href='./css/index.css')
        script(type='text/javascript').
            /*
                KISSY.use("io,node,json", function(S, Io, Node, Json){
                var cookies = CurSite.getCookie();
                var key = cookies["st"];
                var headNode = {cmd:"A02", digestType:"3des", userId:cookies["userId"], userType:cookies["userType"]};
                var body = {uniqueId:CurSite.createUUID()};
                var msgNode = CurSite.encrypt(headNode, key, Json.stringify(body));
                Io({type:"post", url:CurSite.interPath, data:{message:Json.stringify(msgNode)}, success:function(data){
                        var backBodyStr = data.body;
                        var decodedBodyStr = CurSite.decrypt(data.head, key, backBodyStr);
                        var backBodyNode = Json.parse(decodedBodyStr);
                        if(backBodyNode.code == '0000')
                        {
                            alert(backBodyNode.description);
                        }
                        else
                        {
                            alert(backBodyNode.description);
                        }
                }});
            });*/
    body
        .foot
            p 北京九歌在线科技有限责任公司