doctype html
html(lang="en")
    frameset(rows="18%,80%*,3.2%" frameborder='0')
        frame(src="./admin_top.html")
        frameset(cols="15.5%,83%")
            frame(src="./admin_left.html")
            frame(id="mainFrame", name="mainFrame", src="./print_queenList.html")
        frame(src="./admin_foot.html")