doctype html
html(lang="en")
    head
        include ../includes/script.jade
        link(rel='stylesheet', type='text/css', href='./css/index.css')
        script(type='text/javascript').
            //script
    body
        .mainifo
            table(width='100%' border='0' cellspacing='0' cellpadding='0' class='tab')
                thead
                    tr
                        td 收款人：北京九歌在线科技有限责任公司
                    tr
                        td 开户行：中国建设银行股份有限公司北京远洋支行
                tbody
                    tr
                        td 帐  号：1100 1028 9000 5300 6780
            .messges
                span 汇款成功后请致电400-700-1898
                    p 温馨提示：
                    p 1.ATM机不支持汇款到对公账户；
                    p 2.仅支持网银转账、银行柜台汇款、工作日9：00-16：00汇款当天到账,16：00后次日到账。周末及法定节假日顺延至下一个工作日处理；
                    p 3.汇款后请尽量保留相关凭证，以便需要时与客服核实确认。