doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-data-select,vs-window", function(S, Io, Node, Json, VsDataSelect, VsWindow){

                var getData = function(){
                    var data = {};
                    data.id = Node.one("#customerId").val();
                    data.name = Node.one("#name").val();
                    data.password = Node.one("#password").val();
                    data.type = parseInt(Node.one("#type").val());
                    return data;
                };

                var checkParam = function(data){
                   if(data.id==null||data.id==""){
                     alert("用户名不能为空");
                     return false;
                   }
                   if(data.name==null||data.name==""){
                     alert("名称不能为空");
                     return false;
                   }
                   if(data.password==null||data.password==""){
                     alert("密码不能为空");
                     return false;
                   }


                    return true;
                };

                Node.one("#success").on("click", function(){
                    var data = getData();
                    if(checkParam(data))
                    {
                        var bodyNode = data;
                        CurSite.sendDigest(Io, Json, "AD08", null, bodyNode, function(err, backBodyNode){
                            alert(backBodyNode.description);
                        });
                    }
                });

                Node.one("#backToList").on("click", function(){
                    var url = "customer_list.html?time=" + new Date().getTime();
                    CurSite.redirectTo(null, url);
                });

            });
    body
        .bodyAdminDiv
            #tWin.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 用户名*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="customerId", type="text", value='')
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 名称*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="name", type="text", value='')
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 密码*:
                .vs_grid_plain(style="margin-left:8px;")
                    input(id="password", type="text", value='')
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 类型*:
                .vs_grid_plain(style="margin-left:8px;")
                    select(id="type")
                        - each val in userType
                            option(value=val.id)=val.des
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") &nbsp;
                .vs_grid_plain(style="margin-left:8px;")
                    input(type="button", value="添加", id="success")
                    input(type="button", value="返回列表", id="backToList")