doctype html
html(lang="en")
    frameset(rows="18%,80%*,3.2%" frameborder='0')
        frame(src="./channel_top.html")
        frameset(cols="15.5%,83%")
            frame(id="leftFrame", name="leftFrame", src="./channel_left.html")
            frame(id="mainFrame", name="mainFrame", src="./channel_main.html")
        frame(src="./channel_foot.html")