doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-grid-table,vs-pagebar,vs-round-input,vs-window",
                function(S, Io, Node, Json, VsGridTable, VsPagebar, VsRoundInput, VsWindow){

                //绑定事件
                Node.all("input.delete").each(function(item){
                    item.on("click", function(){
                        var tId = Node.one(this).attr("tId");
                        var bodyNode = {cond:{name:tId}};
                        CurSite.sendDigest(Io, Json, "AD14", null, bodyNode, function(err, backBodyNode){
                            alert(backBodyNode.description);
                        });
                    });
                });

                Node.one("#backToList").on("click", function(){
                    var url = "mongo_index.html?time=" + new Date().getTime();
                    CurSite.redirectTo(null, url);
                });

            });
    body
        .bodyAdminDiv
        .clearfix(style="margin-top:8px")
            .vs_grid_plain(style="margin-left:8px;")
                input(type="button", value="返回列表", id="backToList")
        .clearfix(style="margin-top:8px")
            .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 游戏:
            .vs_grid_plain(style="padding-top:4px;")
                select(id="gameCode")
                    - each val in game
                        option(value=val.id)=val.name
        .clearfix(style="margin-top:8px")
            .vs_grid_plain(style="padding-top:6px;margin-left:12px;") 期次范围:
            .vs_grid_plain(style="padding-top:4px;")
                select(id="gameCode")
                    - each val in game
                        option(value=val.id)=val.name