doctype html
html(lang="en")
    head
        link(rel='stylesheet', type='text/css', href='./css/login.css')
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json", function(S, Io, Node, Json){
                CurSite.setCookie("userType", "ADMINISTRATOR", CurSite.cookieExpireTime);
                Node.one("#submit").on("click", function(){
                    var name = Node.one("#name").val();
                    var pwd = Node.one("#pwd").val();
                    var key = hex_md5(pwd);
                    CurSite.setCookie("userId", name, CurSite.cookieExpireTime);
                    CurSite.setCookie("userType", "ADMINISTRATOR", CurSite.cookieExpireTime);
                    var body = {name:name, password:pwd, uniqueId:CurSite.createUUID()};
                    CurSite.sendDigest(Io, Json, "AD01", key, body, function(err, backBodyNode){
                        if(backBodyNode.repCode == '0000')
                        {
                            CurSite.setCookie("st", backBodyNode.st, CurSite.cookieExpireTime);
                            window.location = CurSite.getAbsolutePath("admin_index.html");
                        }
                        else
                        {
                            alert(backBodyNode.description);
                        }
                    });
                });
            });
    body
        .loginwrap
            .loginbox
                table(  class="tab" width="85%" border="0" cellspacing="0" cellpadding="0" )
                    tr
                        td(width="25%" align="left") 用户名:
                        td(colspan="3")
                            input(type="text" class="Textbox" id='name')
                    tr
                        td(align="left") 密   码:
                        td(colspan="3")
                            input(type='password'  class="Textbox" id='pwd')
                    tr
                        td(colspan="4" align="center")
                            input(id='submit' type="button" class="btn" )