doctype html
html(lang="en")
    head
        include ./includes/script.jade
        script(type='text/javascript').
            //
    body
        .bodyDiv
            a(href="sys_adminLogin.html") 管理员入口
            br
            a(href="sys_channelLogin.html") 渠道入口