doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json,vs-data-select,vs-window", function(S, Io, Node, Json, VsDataSelect, VsWindow){


                var fromC = new VsDataSelect("#from", {width:200, click:function(self){
                    var url, title;
                    var data = self.getData();
                    var select = CurSite.encryptUrl(data, Json);
                    title = "选择用户";
                    url = "customer_select.html?time=" + new Date().getTime() + "&select=" + select;
                    var win = new VsWindow("#tWin", {title:title, width:600, height:480, url:url, controlBt:[
                        {name:'选择', check:true, cb:function(err, data){
                            if(!data || data.length != 1)
                            {
                                alert("请选择一个用户");
                                return false;
                            }
                            else
                            {
                                self.setData(data[0]);
                                return true;
                            }
                        }}
                    ]});
                }});

                var customerId = Node.one("#customerId").val();
                fromC.setData({id:customerId, name:customerId});
                var toC = new VsDataSelect("#to", {width:200, click:function(self){
                    var url, title;
                    var data = self.getData();
                    var select = CurSite.encryptUrl(data, Json);
                    title = "选择用户";
                    url = "customer_select.html?time=" + new Date().getTime() + "&select=" + select;
                    var win = new VsWindow("#tWin", {title:title, width:600, height:480, url:url, controlBt:[
                        {name:'选择', check:true, cb:function(err, data){
                            if(!data || data.length != 1)
                            {
                                alert("请选择一个用户");
                                return false;
                            }
                            else
                            {
                                self.setData(data[0]);
                                return true;
                            }
                        }}
                    ]});
                }});

                var getData = function(){
                    var data = {};
                    data.customerId = fromC.getData()[0].id;
                    data.relayTo = toC.getData()[0].id;
                    data.gameCode = Node.one("#game").val();
                    return data;
                };

                var checkParam = function(data){
                    return true;
                };

                Node.one("#success").on("click", function(){
                    var data = getData();
                    if(checkParam(data))
                    {
                        var bodyNode = data;
                        CurSite.sendDigest(Io, Json, "AD09", null, bodyNode, function(err, backBodyNode){
                            alert(backBodyNode.description);
                        });
                    }
                });

                Node.one("#backToList").on("click", function(){
                    var customerId = Node.one("#customerId").val();
                    var url = "relation_list.html?time=" + new Date().getTime()+"&customerId="+customerId;
                    CurSite.redirectTo(null, url);
                });

            });
    body
        input(id="customerId", type="hidden", value=customerId)
        .bodyAdminDiv
            #tWin.container
            .clearfix(style="margin-top:8px;")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 销售*:
                .vs_grid_plain(style="margin-left:8px;")
                    #from.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 出票*:
                .vs_grid_plain(style="margin-left:8px;")
                    #to.container
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;margin-top:4px") 类型*:
                .vs_grid_plain(style="margin-left:8px;")
                    select(id="game")
                        - each val in game
                            option(value=val.id)=val.name
            .clearfix(style="margin-top:8px")
                .vs_grid_plain(style="width:100px;text-align:right;") &nbsp;
                .vs_grid_plain(style="margin-left:8px;")
                    input(type="button", value="添加", id="success")
                    input(type="button", value="返回列表", id="backToList")